.paint-container {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  background: transparent;
}




/* ============================================
   REQUIRED CSS FOR PIXELBLAST TO WORK
   ============================================ */

.pixel-blast-container {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}

.pixel-blast-container canvas {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}

